@import url('https://fonts.googleapis.com/css2?family=Karla:wght@800&display=swap');

:root {
    --header-height: 80px;
    --gap: 30px;
    --base-text-color: white;
    --active-bg-color: white;
    --active-text-color: black;
    --title-color: #ffffff83;
    --bg-primary: #DE1E1E;
    --backdropColor: "";
    --font-size: 1.2rem;
    --font-size-big: 13rem;
    --stroke: 9px;
    --image-height: 600px
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: transparent;
    z-index: 999;
}

header .logo {
    flex: 0 0 auto;
}

header .logo img {
    width: 100px;
}

header .main-nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav ul {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    padding: 0;
    margin: 0;
}

.nav-item {
    list-style-type: none;
}

.nav-item a {
    text-decoration: none;
    color: var(--base-text-color);
    font-size: var(--font-size);
}

.nav-item a span {
    padding: 10px;
}

.nav-item a .active {
    background-color: var(--active-bg-color);
    color: var(--active-text-color);
    border-radius: var(--gap);
}

header .sub-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-nav ul {
    display: flex;
    gap: var(--gap);
    padding-right: var(--gap);
}

.sub-nav ul li span {
    color: var(--base-text-color);
    font-size: var(--font-size);
}

section {
    height: 100vh;
    background: var(--bg-primary);
    overflow: hidden;
}

section .container {
    position: relative;
    padding-top: var(--header-height);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: var(--gap);
    padding: 0 20px;
}

section .container .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: var(--bg-primary);
}

section .container .background .bg-text {
    margin-top: 6rem;
}

section .container .background .bg-text span {
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: var(--font-size-big);
    color: transparent;
    -webkit-text-stroke: var(--stroke) var(--title-color);
    letter-spacing: 10px;
    text-transform: capitalize;
}


.container .flavors-navigation,
.container .main-display,
.container .about {
    display: flex;
    flex-direction: column;
    color: white;
    z-index: 1;
}

.container .about {
    justify-content: end;
    align-items: center;
    padding: 0 0 10rem 5rem;
}

.container .about .title {
    align-self: self-start;
    font-size: 3rem;
    font-weight: 800;
    text-wrap-mode: nowrap;
    text-transform: capitalize;
}

.container .about .description {
    font-size: var(--font-size);
    text-align: justify;
    margin-bottom: var(--gap);
}

.container .about .action-button {
    width: 100%;
    display: flex;
    justify-content: start;
}

.container .about .action-button button {
    font-size: var(--font-size);
    padding: 0.5rem 1rem;
    border-radius: var(--gap);
    border: none;
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.438);
}

.container .main-display {
    justify-content: center;
    align-items: center;
    position: relative;
}

.backdrop-blur {
    position: absolute;
    height: var(--image-height);
    width: 100%;
    background-color: var(--backdropColor);
    filter: blur(250px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 100%;
}

.container .main-display .product-img {
    height: var(--image-height);
    width: auto;
}

.container .main-display .product-img img {
    height: auto;
    width: 100%;
}

.container .main-display .price {
    font-size: var(--font-size);
    font-weight: 900;
    letter-spacing: 2px;
}


.container .flavors-navigation {
    justify-content: end;
    align-items: center;
    padding: 0 5rem 10rem 0;
}

.container .flavors-navigation .flavor-navigation-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 1rem;
    font-size: var(--font-size);
    font-weight: bold;
}

.item figure {
    margin: 0;
    padding: 0;
}

.item figure img {
    width: 3rem;
    height: auto;
}

.active-flavor {
    background-color: var(--active-bg-color);
    color: var(--active-text-color);
    border-radius: var(--gap);
}

.item:nth-child(1) {
    margin-left: 2rem;
    margin-right: auto;
}

.item:nth-child(2) {
    margin-left: 1.5rem;
    margin-right: auto;
}

.item:nth-child(3) {
    margin-left: 1rem;
    margin-right: auto;
}

.item:nth-child(4) {
    margin-left: 0;
    margin-right: auto;
}

@media screen and (max-width: 1023px) {
    section .container {
        display: grid;
        grid-template-areas: 
            "about main main"
            "about main main"
            "flavors flavors flavors"
        ;
        gap: calc(var(--gap) * 0.75);
        padding: 0 16px;
        overflow-y: auto;
    }

    .container .main-display {
        grid-area: main;
        justify-self: center;
        align-self: center;
    }

    .container .about {
        grid-area: about;
        justify-self: center;
        align-self: start;
        padding: 0 0 10rem 1rem;
        align-self: flex-end;
    }

    .container .flavors-navigation {
        grid-area: flavors;
        justify-self: center;
        align-self: center;
    }

    .container .main-display .product-img img {
        height: 90%;
        width: auto;
        flex: 1;
    }

    .container .flavors-navigation {
        padding: 0;
    }
    .container .flavors-navigation .flavor-navigation-container {
        flex-direction: row;
        flex: 1;
        padding: 0 0 2rem 0;
    }
}

@media screen and (max-width: 767px) {
    :root {
        --font-size: 0.8rem;
        --gap: 15px;
    }

    section .container {
        padding: 1rem 15px var(--gap) 15px;
        display: grid;
        grid-template-areas:
            "main main main"
            "about about about"
            "flavors flavors flavors";
        grid-template-rows: auto auto auto;
        gap: var(--gap);
    }

    .container .background {
        display: none;
    }

    .container .main-display {
        grid-area: main;
        justify-self: center;
        align-self: center;
    }

    .container .about {
        grid-area: about;
        justify-self: center;
        align-self: start;
    }

    .container .flavors-navigation {
        grid-area: flavors;
        justify-self: center;
        align-self: center;
    }

    .container .about .title {
        font-size: 1.5rem;
    }

    .container .main-display .product-img img {
        max-width: 200px;
    }

    .container .flavors-navigation .flavor-navigation-container .item{
        flex-direction: row;
        padding: 5px;
    }

    .flavors-navigation .flavor-navigation-container .item:nth-child(1),
    .flavors-navigation .flavor-navigation-container .item:nth-child(2),
    .flavors-navigation .flavor-navigation-container .item:nth-child(3),
    .flavors-navigation .flavor-navigation-container .item:nth-child(4){
        margin: 0;
    }
}